<div class="relative overflow-x-auto sm:rounded-lg bg-white p-2">
  <div class="px-4 py-3 flex items-center justify-between space-x-4">
    <div>
      <div class="font-bold text-xl">Patients</div>
      <div class="text-[#6941C6] bg-[#E9EAEB] p-2 rounded-3xl w-fit font-medium">
        {{ patients.length }} users
      </div>
    </div>
    <div>
      <input
        type="text"
        class="border border-gray-300 rounded-md px-3 py-2 text-sm"
        placeholder="Search by NSS"
        [(ngModel)]="searchTerm"
        (input)="filterPatients()"
      />
    </div>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Prenome</th>
        <th scope="col" class="px-6 py-3">Date de naissance</th>
        <th scope="col" class="px-6 py-3">Phone</th>
        <th scope="col" class="px-6 py-3">NSS</th>
        <th scope="col" class="px-6 py-3">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of filteredPatients"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
        (click)="goToPatient(user.NSS)"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            src="/assets/pic.png"
            alt="User photo"
            class="inline w-8 h-8 rounded-full mr-2"
          />
          {{ user.nom }}
        </th>
        <td class="px-6 py-4">{{ user.prenom }}</td>
        <td class="px-6 py-4">{{ user.dateNaissance }}</td>
        <td class="px-6 py-4">{{ user.telephone }}</td>
        <td class="px-6 py-4">{{ user.NSS }}</td>
        <td class="px-6 py-4 text-center items-center">
          <div class="flex items-center space-x-1">
            <div class="cursor-pointer">
              <img src="/assets/edit.png" width="40px" height="12px" />
            </div>
            <div class="cursor-pointer">
              <img src="/assets/remove.png" width="40px" height="12px" />
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="flex flex-wrap justify-between items-center pt-2 w-full">
    <button
      class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md"
      [disabled]="currentPage === 1"
      [ngClass]="currentPage == 1 ? 'cursor-not-allowed' : 'cursor-pointer'"
      (click)="previousPage()"
    >
      Précédent
    </button>
    <p class="text-gray-600">Page {{ currentPage }} sur {{ totalPages }}</p>
    <button
      class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md"
      [disabled]="currentPage === totalPages"
      [ngClass]="currentPage == totalPages ? 'cursor-not-allowed' : 'cursor-pointer'"
      (click)="nextPage()"
    >
      Suivant
    </button>
  </div>
</div>
