<div class="min-h-screen flex w-full">
    <!-- Sidebar -->
    <app-side-bar-medecin
      [activeItem]="activeItem"
      (isSidebarOpenR)="toggleSidebar($event)"
      (menuSelected)="onMenuSelect($event)"
      class="min-h-screen fixed top-0 left-0 bottom-0 transform transition-transform duration-300"
      [ngClass]="{
        '-translate-x-full sm:translate-x-0': !isSidebarOpen,
        'translate-x-0': isSidebarOpen
      }">
    </app-side-bar-medecin>
  
    <!-- Content Area -->
    <div class="min-h-screen w-full bg-slate-100 py-10 px-6 sm:px-12 lg:px-20 flex-col" [ngClass]="{
      'max-sm:pl-[6rem] sm:pl-[7rem] lg:pl-[12rem]': isSidebarOpen,
      'ml-0 sm:ml-[250px]  ': !isSidebarOpen
    }">
      <div class="flex-col items-center space-y-2 justify-center">
        <div class="flex items-center space-x-2">
          <div><img src="/assets/main.png" /></div>
          <div class="font-bold text-xl">Bienvenue, {{ medName }}</div>
        </div>
        <div>
          <p class="text-[#806B6B]">
            J'espère que vous êtes en pleine forme, prêt à relever de nouveaux défis aujourd'hui !
          </p>
        </div>
        <div class="flex justify-between pt-8 items-center">
          <div class="font-semibold text-xl">Gestion des Consultations</div>
          <div class="bg-[#6941C6] rounded-lg py-2 px-3 text-white hover:bg-[#704fbe] cursor-pointer " (click)="goToAddConsultation()">
            <button >ajouter consultation</button>
          </div>
        </div>
  
        <div class="relative overflow-x-auto sm:rounded-lg bg-white p-2 ">
          <div class="px-4 py-3 flex items-center">
            <div class="flex space-x-1 items-center">
              <div class="font-bold text-xl">Consultations</div>
              <div class="text-[#6941C6] bg-[#E9EAEB] p-2 rounded-3xl w-fit font-medium">
                {{ consultations.length }} consultation
              </div>
            </div>
            <div>

            </div>
          </div>
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Date</th>
                <th scope="col" class="px-6 py-3 flex items-center space-x-2 cursor-pointer">
                  <span>num of examens</span>
                </th>
                <th scope="col" class="px-6 py-3">Médecin</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cons of getUser()" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer" (click)="toggleModalOpen(cons)">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" >
                  <img src="/assets/pic.png" alt="User photo" class="inline w-8 h-8 rounded-full mr-2" />
                  {{ cons.dateConsultation}}
                </th>
                <td class="px-6 py-4 flex items-center space-x-2">
                  <span class="w-3 h-3 rounded-full"></span>
                  <span>{{ cons.examens.length }}</span>
                </td>
                <td class="px-6 py-4">{{ cons.medecin_name }}</td>
                <td class="px-6 py-4">{{ cons.status }}</td>
                <td class="px-6 py-4 text-center items-center">
                  <div class="flex items-center space-x-1">
                    <div class="cursor-pointer"><img src="/assets/edit.png" width="40px" height="12px" /></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
  
          <!-- Pagination -->
          <div class="flex flex-wrap justify-between items-center pt-2 w-full">
            <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md" [disabled]="currentPage === 1" [ngClass]="currentPage == 1 ? 'cursor-not-allowed' : 'cursor-pointer'" (click)="previousPage()">Précédent</button>
            <p class="text-gray-600">Page {{ currentPage }} sur {{ totalPages }}</p>
            <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md" [disabled]="currentPage === totalPages" [ngClass]="currentPage == totalPages ? 'cursor-not-allowed' : 'cursor-pointer'" (click)="nextPage()">Suivant</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div *ngIf="isModalOpen2" class="pt-20" >
      <div>
        <app-consultation-modal [isModalOpen]="isModalOpen2" [consultation]="consultation" />
      </div>

    </div>
  </div>
  