<div class="min-h-screen flex w-full ">
    <!-- Sidebar -->
      <!-- Sidebar -->
      <app-side-bar-medecin 
      [activeItem]="activeItem"
      (isSidebarOpenR)="toggleSidebar($event)" 
      (menuSelected)="onMenuSelect($event)"
     class="min-h-screen fixed top-0 left-0 bottom-0 transform transition-transform duration-300"
     [ngClass]="{
       '-translate-x-full sm:translate-x-0': !isSidebarOpen,
       'translate-x-0': isSidebarOpen
     }">
  
  
     </app-side-bar-medecin>
    
    <!-- Content Area -->
    <div class="min-h-screen w-full bg-slate-100 py-10 px-6 sm:px-12 lg:px-20 flex-col "     [ngClass]="{
      'max-sm:pl-[6rem] sm:pl-[7rem] lg:pl-[12rem]': isSidebarOpen,
      'ml-0 sm:ml-[250px]  ': !isSidebarOpen
    }">
    <div class="flex-col items-center space-y-2 justify-center">
        <div class="flex items-center  space-x-2">
            <div><img src="/assets/main.png"/></div>
            <div class="font-bold text-xl">Bienvenue, Dr. Hakim</div>
        </div>
        <div>
            <p class="text-[#806B6B] ">
                J'espère que vous êtes en pleine forme, prêt à relever de nouveaux défis aujourd'hui !
            </p>
        </div>
        <div>
            <app-med-cards [isSidebarOpen]="isSidebarOpen"/>
        </div>
        <div class="flex justify-between pt-8 items-center">
            <div class="font-semibold text-xl">Gestion des Patients</div>
            <div>
                <button class="bg-[#714FED] rounded-lg p-2 text-white font-bold hover:bg-[#8d70f8] cursor-pointer" (click)="toggleModal()">+ Ajouter un Patient</button>
            </div>
        </div>
        <div class="pt-4">
            <app-patients-table/>
        </div>
        
    </div>
    <div *ngIf="isModalOpen">
        <app-add-patient-modal [isModalOpen]="isModalOpen"/>
    </div>
    </div>
</div>
