<div 
  [class.w-64]="isSidebarOpen"
  [class.w-16]="!isSidebarOpen"
  class="bg-white flex flex-col transition-all duration-300 relative h-full">

  <!-- Toggle Button -->
  <button
    class="absolute top-1/2 -right-4 transform -translate-y-1/2 bg-gray-300 text-white w-8 h-8 rounded-full flex items-center justify-center shadow-md"
    (click)="toggleSidebar()">
    <mat-icon>
      {{ isSidebarOpen ? 'chevron_left' : 'chevron_right' }}
    </mat-icon>
  </button>

  <!-- Dashboard Header -->
  <div class="p-6 border-b items-center">
    <div class="flex items-center space-x-2">
      <img src="assets/dashboard.svg" alt="User Profile" class="w-10 h-10 rounded-full mb-0"/>
      <div class="text-xl font-bold" *ngIf="isSidebarOpen">Dashboard</div>
    </div>
  </div>

  <!-- Collapsed State Content -->
  <div *ngIf="!isSidebarOpen" class="flex flex-col items-center py-6 space-y-4 sm:space-y-6 md:space-y-8 lg:space-y-10">
    <img src="assets/pic.png" alt="User Profile" class="w-10 h-10 rounded-full mb-4"/>
    <div class="bg-[#5932EA] rounded-md flex justify-center w-10 h-10">
      <img src="assets/User.svg" alt="User Profile" class="w-10 h-10 mb-4 text-[#5932EA] cursor-pointe p-2"/>
    </div>
    <div class="bg-white rounded-md flex justify-center">
      <img src="assets/User Add.svg" alt="User Profile" class="w-10 h-10 mb-4 text-[#5932EA] cursor-pointer hover:bg-slate-200 p-2"/>
    </div>
    <div class="p-2 rounded-md flex justify-center hover:bg-red-400 cursor-pointer" (click)="Logout()">
      <mat-icon class="text-black w-20 h-6">exit_to_app</mat-icon>
    </div>
  </div>

  <!-- Expanded State Content -->
  <div *ngIf="isSidebarOpen" class="flex flex-col items-center py-6">
    <div class="flex items-center justify-center space-x-4">
      <img src="assets/pic.png" alt="User Profile" class="w-20 h-20 rounded-full border-4 border-gray-300"/>
      <div class="felx flex-col items-center justify-center space-y-0">
        <p class="mt-4 font-medium text-lg">John Doe</p>
        <p class="text-[#757575]">admin</p>
      </div>
    </div>
    <!-- Navigation Buttons -->
    <div class="flex flex-col mt-20 space-y-5 items-center justify-center">
      <button
        [routerLink]="['/dashboard']" 
        routerLinkActive="bg-[#5932EA]"
        class="text-gray-950 px-4 py-2 rounded-md hover:opacity-65 w-full flex items-center justify-start space-x-3">
        <img src="assets/User.svg" alt="profil" class="w-6 h-6">
        <span>Profil</span>
      </button>
      <button
        [routerLink]="['/addPatient']" 
        routerLinkActive="bg-[#5932EA] "
        class=" text-gray-950 px-4 py-2 rounded-md hover:opacity-65 w-full flex items-center justify-start space-x-3"
        >
        <img src="assets/User Add.svg" alt="profil" class="w-6 h-6">
        <span>Ajouter patient</span>
      </button>

      <button
      [routerLink]="['/addPerson']" 
      routerLinkActive="bg-[#5932EA] "
      class=" text-gray-950 px-4 py-2 rounded-md hover:opacity-65 w-full flex items-center justify-start space-x-3"
      >
      <img src="assets/User Add.svg" alt="profil" class="w-6 h-6">
      <span>Ajouter utilisateur </span>
    </button>
      <button
        (click)="Logout()"
        class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 w-full flex items-center justify-start space-x-3">
        <mat-icon class="text-white w-20 h-6">exit_to_app</mat-icon>
        <span>Déconnexion</span>
      </button>
    </div>
  </div>
</div>